<form action="/vehicles" method="post">
  <label for="make">Vehicle make:</label>
  <input type="text" name="make" id="make">
  <label for="model">Vehicle model:</label>
  <input type="text" name="model" id="model">
  <label for="year">Vehicle year:</label>
  <input type="text" name="year" id="year">
  <button type="submit">Add</button>
</form>
