<h1>Dealerships:</h1>

<ul>
  <% @dealerships.each() do |dealership|%>
  <li><a href='/dealerships/<%= dealership.id() %>'><%= dealership.name() %></a></li>
  <% end %>
</ul>

<a href="/dealerships/new">Add a new dealership</a>
<a href="/">Go home</a>
